

<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-title" content="CodePen">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- sources App -->
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="../static/img/">
  <script defer src="../static/javascript/main.js"></script>


 
  <!-- sources Web -->
  <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
  <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
  <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f0601b0fb2.js" crossorigin="anonymous"></script>
  <script type='module' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js'></script>
  <script nomodule='' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <title>Lewings</title>
</head>


<body translate="no" >
  <div class="container">
  <div class="components">
    
    <div id="texto" class="mx-auto bg-primary text-light"></div>

    <div class="circle">
      <span class="circle__btn" onclick="changeStatusRec()">
        <ion-icon class="pause" name="pause"></ion-icon>
        <ion-icon class="play"  name="play"></ion-icon>
      </span>
      <span class="circle__back-2"></span>
      <span class="circle__back-1"></span>
    </div>
    
  </div>
  </div>





  

</body>

</html>
 

<!-- 


<div id="texto" class="mx-auto bg-primary text-light"></div> -->